/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AKAI Frontend Task - CSS

    Spróbuj zmodyfikować poniższy plik ze stylami tak, by upiększyć formularz na stronie.
    Jako inspiracji możesz skorzystać z szablonu znajdującego się w pliku img/layout.png
    Nie wymagamy, by wykonać identyczny layout. Liczy się kreatywność.

    Przy wykonywaniu zadania można zmienić strukturę pliku index.html.
    Pamiętaj, że w takim wypadku będzie trzeba zadbać o dostosowanie odpowiednich selektorów.

    Jeśli korzystasz z preprocessorów takich jak Sass/Less, również możesz się tym pochwalić.

    Powodzenia!
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


/*
Przeanalizuj składnię pliku .css.
Przy stylowaniu na najpierw podajemy, co chcemy ostylować, a następnie jakie atrybuty chcemy zmienić.
np. poniższy selektor (body) oznacza, że modyfikujemy kontent body w dokumencie html.
Żeby mieć pewność o czym mowa, zajrzyj w plik index.html, i znajdź tag <body>.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  --orangeLight: #faa21b;
  --orangeLight2: #f9b44d;
  --orangeDark: #fa741b;
  --orangeDark2: #de6b1f;
  --dark: #141f35;
  box-sizing: border-box;
  background-color: #fff5e3;
}

#task-frontend {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  display: block;
  border-radius: 1rem;
  box-shadow: 5px 15px 15px #141f354f;
  margin-top: 3rem;
  color: var(--dark);
}

.container-part {
  padding: 3rem
}

#top {
  background-image: linear-gradient(var(--orangeDark), var(--orangeLight));
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding-bottom: 6rem;
}

#task-frontend img {
  max-width: 70px;
  margin-bottom: 4rem;
}

.basic-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: white;
}

#bottom::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -75px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

#bottom {
  padding-top: 0;
  z-index: 1;
  position: relative;
}

#form-title {
  text-align: left;
  margin-left: auto;
  width: 80%;
}

#task-frontend input[type="text"],
#task-frontend input[type="email"] {
  display: block;
  background-color: #eeeeee;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 15px auto;
  border: none;
  width: 80%;
  height: 30px;
  border-radius: 0.5rem;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: 1px solid var(--dark);
  box-shadow: 0 0 15px #141f3533;
  font-weight: 600;
}

.success>input {
  outline: 2px solid #28a745;
}

.success>input:focus {
  outline: 2px solid #28a745;
  box-shadow: 0 0 15px #28a74655;
}

.error>input {
  outline: 2px solid #dc3545;
}

.error>input:focus {
  outline: 2px solid #dc3545;
  box-shadow: 0 0 15px #dc354655;
}

.error small {
  color: #dc3545;
}

#task-frontend span {
  display: block;
}

#form-sections {
  margin-top: 2rem;
}

#checkboxes {
  max-width: fit-content;
  margin: 1rem auto;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  justify-items: start;
  align-content: space-around;
}

#task-frontend input[type="submit"] {
  border: none;
  width: 150px;
  height: 50px;
  margin-top: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  text-align: center;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, var(--orangeDark), var(--orangeLight), var(--orangeDark));
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-position: 100% 0;
  letter-spacing: 1px;
  box-shadow: 0 0 30px 5px #faa11b6b;
}

.message-hidden {
  display: none;
  background-color: transparent;
  padding: 0;
}

.message-visible {
  display: block;
  background-color: hsl(134, 60%, 90%);
  padding: 1rem;
  width: 80%;
  margin: auto;
  border-radius: 0.5rem;
  color: hsl(134, 60%, 35%);
  font-weight: 600;
}